<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel= "tests">
  <test thread-count="5" name="Test1">
  	<parameter name = "browser" value = "chrome"></parameter>
  		<groups>
  			<run>
  				<include name = "Smoke"></include>
  				<include name = "Regression"></include>
  				<include name = "Random"></include>
  			</run>
  		</groups>
  
    <classes>
      <class name="testSet.AmazonCartTest"/>
      <class name="testSet.AmazonHmPage"/>
     
      
      
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
  	<parameter name = "browser" value = "firefox"></parameter>
  		<groups>
  			<run>
  				<include name = "Smoke"></include>
  				<include name = "Regression"></include>
  				<include name = "Random"></include>
  			</run>
  		</groups>
  
    <classes>
      <class name="testSet.AmazonCartTest"/>
      <class name="testSet.AmazonHmPage"/>
     
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
